nav {
  @include no-select();
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../assets/images/booking-header@3x.png");
  background-size: cover;
  @include no-select();

  .form-control {
    height: 3rem;
  }

  .container {
    @include flexbox();
    width: 100%;
    height: auto;

    #form-container {
      @include flexbox();
      @include justify-content(start);
      @include align-items(center);
      @include flex-direction(column);
      max-height: 320px;
      overflow-y: scroll;

      #bookingContent1 {
        margin-top: $spacing-xlg;
      }

      .input-group {
        input[type="date"]::-webkit-calendar-picker-indicator {
          filter: invert(65%) sepia(100%) saturate(500%) hue-rotate(1deg)
            brightness(100%) contrast(101%);
        }

        .formatted-date {
          margin-top: 10px;
          font-size: 1rem;
          color: #333;
        }

        .input-group-append {
          .input-group-text {
            background-color: $white;

            i {
              color: $primary-color;
            }
          }
        }
      }
    }

    #removeButtonContainer2,
    #removeButtonContainer3 {
      @include flexbox();
      @include justify-content(space-between);

      .booking--next {
        margin-bottom: 8px;
        padding: 0;
      }
    }

    #special-button {
      background-color: $primary-color;
      border-color: $primary-color;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $spacing-md $spacing-xlg;
    }

    #special-input {
      height: 100%;
      padding: $spacing-md $spacing-xlg;
    }

    .row {
      @include flexbox();
      @include flex-direction(row);
      @include justify-content(center);
      @include align-items(center);
      gap: 1rem;
    }
    .col {
      @include flexbox();
      @include flex-direction(column);
      width: 100%;
      gap: $spacing-xlg;
    }

    .booking {
      z-index: 99;
      width: 100%;
      &--form {
        width: 100%;
        height: auto;
        background-color: rgba(255, 255, 255, 0.15);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 0;
        width: 100%;

        &__icon {
          @include flexbox();
          @include align-items(center);
          @include justify-content(center);
          width: torem(66);
          height: torem(66);
          background: $light-grey;
          border-radius: 50%;
        }
      }

      &--button {
        &__container {
          @include flexbox();
          @include justify-content(space-between);
          @include align-items(center);
          gap: $spacing-lg;
          padding: $spacing-lg $spacing-xlg;
          width: 100%;

          .balancer {
            opacity: 0;
          }
        }
      }

      &--next {
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        gap: $spacing-lg;
        text-decoration: none;
        background: none;
        border: none;
        color: $primary-color;
      }

      &--button {
        background-color: $primary-color;
        border: none;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spacing-xs $spacing-xlg;
        width: 45%;
        font-weight: 600;
        text-align: center;

        .special {
          font-style: normal;
          font-weight: 400;
          @include flexbox();
          @include align-items(center);
          @include justify-content(center);
          padding: $spacing-xs $spacing-xs;
          height: 1.5rem;
          width: 1.5rem;
          border-radius: 2.5rem;
          background-color: rgba($color: $dark-grey, $alpha: 0.3);
          margin-left: $spacing-xs;
        }

        span {
          font-size: 1.7rem;
          font-weight: 400;
          margin-right: $spacing-xs;
        }
      }

      &--separator {
        width: 65%;
        height: 0.35rem;
        background: $light-grey;
        position: absolute;
        top: 40%;
        left: 18%;
        z-index: 1;
      }

      &--nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        position: relative;
        padding: $spacing-lg $spacing-xlg;
        background-color: $white;

        &__item {
          text-align: center;
          @include flexbox();
          @include flex-direction(column);
          @include justify-content(center);
          @include align-items(center);
          z-index: 2;

          label {
            font-size: $small;
            color: $black;
            letter-spacing: -0.39px;
            margin-bottom: 0;
            margin-top: $spacing-xs;
          }

          &.active {
            .booking--form__icon {
              background: $primary-color;
            }
          }
        }
      }

      &--content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $spacing-lg;
        padding: $spacing-sm $spacing-xlg;
        width: 100%;

        .container {
          @include flexbox();
          @include flex-direction(column);
          gap: $spacing-lg;
          color: $light-grey;
          font-weight: 100;
        }
      }
    }
  }
}

footer {
  .container {
    @include flexbox();
    @include flex-direction(column);
    gap: $spacing-xlg;

    #thisrow {
      @include justify-content(space-between);
      gap: $spacing-lg;

      #thiscol {
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        gap: $spacing-xs;
        p {
          font-size: $small;
        }
      }
    }

    .logos {
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      @include no-select();
      color: $white;
      width: 100%;
      padding: 0;
      gap: $spacing-lg;
    }

    .footer--image {
      width: 100%;
      max-width: 200px;
    }
  }

  .col-5 {
    @include flexbox();
    @include flex-direction(column);
  }

  .col-4,
  .col-3 {
    @include no-select();
  }
}
