header {
  .container {
    @include flexbox();
    width: 100%;

    .row {
      @include flexbox();
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include justify-content(center);
      @include align-items(center);
      gap: 1rem;
    }

    .col-8 {
      background-color: rgba(255, 255, 255, 0.15);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      padding: 0;
    }

    .booking {
      &--form {
        width: 100%;
        height: auto;

        &__icon {
          @include flexbox();
          @include align-items(center);
          @include justify-content(center);
          width: torem(66);
          height: torem(66);
          background: $light-grey;
          border-radius: 50%;
        }
      }

      &--separator {
        width: 65%;
        height: 0.35rem;
        background: $light-grey;
        position: absolute;
        top: 40%;
        left: 18%;
        z-index: 1;
      }

      &--nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        position: relative;
        padding: $spacing-lg $spacing-xlg;
        background-color: $white;

        &__item {
          text-align: center;
          @include flexbox();
          @include flex-direction(column);
          @include justify-content(center);
          @include align-items(center);
          z-index: 2;

          label {
            font-size: $small;
            color: $black;
            letter-spacing: -0.39px;
            margin-bottom: 0;
            margin-top: $spacing-xs;
          }

          &.active {
            .booking--form__icon {
              background: $primary-color;
            }
          }
        }
      }

      &--content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $spacing-lg;
        padding: $spacing-xlg;

        .container {
          @include flexbox();
          @include flex-direction(column);
          gap: $spacing-lg;
          color: $light-grey;
          font-weight: 100;
        }
      }
    }
  }
}
